.cabecalho-navbar {
    flex-shrink: 1;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cabecalho-navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
}

.cabecalho-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

@media (max-width: 991px) {
    .cabecalho-navbar ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .cabecalho-navbar.menu-aberto ul {
        display: flex; 
    }
}

.cabecalho-navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.cabecalho-navbar li {
    position: relative;
}

.cabecalho-navbar a:hover, .cabecalho-navbar, 
.cabecalho-navbar, .cabecalho-navbar li:hover > a {
    color: #0081FF;
}

.cabecalho-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.cabecalho-itens:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #0081FF;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.botao-ingles {
    height: 21.5px;
    width: 45px;
    border: 1px;
    border-radius: 5px;
}

.cabecalho-navbar-mobile {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    margin-left: 6px;
    margin-right: 6px;
}

@media (max-width: 991px) {
    .cabecalho-navbar-mobile {
        display: block;
    }
}

.cabecalho-navbar .btn-fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}