.cabecalhoNavbar {
    flex-shrink: 1;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cabecalhoNavbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.1s linear;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.cabecalhoNavbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 22px;
    height: 2px; 
    width: 0;
    background-color: #0081FF; 
    transition: width 0.3s ease;
}

.cabecalhoNavbar a:hover {
    color: #0081FF;
}

.cabecalhoNavbar a:hover::after {
    width: 100%;
}

.cabecalhoNavbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

@media (max-width: 991px) {
    .cabecalhoNavbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .cabecalhoNavbar.menuAberto ul {
        display: flex;
    }
}

.cabecalhoNavbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.cabecalhoNavbar li {
    position: relative;
}

.cabecalhoItens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    position: relative;
}

.cabecalhoItens:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #0081FF;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.cabecalhoNavbarMobile {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    margin-left: 6px;
    margin-right: 6px;
}

@media (max-width: 991px) {
    .cabecalhoNavbarMobile {
        display: block;
    }
}

.cabecalhoNavbar .btnFechar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}