body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  line-height: 1.5;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out 0s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}